﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using LectureAppLibrary.Models
@model ProductViewModel



@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="d-flex justify-content-around">
    <div class="forma">
        <h1>Check-In</h1>


        <form asp-action="ShtoPrezencen" asp-controller="Pedagog" method="post" asp-route-id="@Model.Schedule.ScheduleID">
            <div class="form-group">
                <label>Vendosni RFID/ Kodin e kartes</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="RFID">
            </div>

            <button type="submit" class="btn btn-outline-success mt-4">Check In</button>
        </form>

    </div>
    <div class="alldepartments">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Emri</th>
                    <th scope="col">Mbiemri</th>
                    <th scope="col">Grupi</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Students)
                {

                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Grupi.Viti-@item.Grupi.Paraleli</td>
                    </tr>
                }
            </tbody>
        </table>


        <a class="btn btn-lg btn-outline-danger" asp-action="MbyllOren" asp-route-id="@Model.Schedule.ScheduleID">Mbyll oren e mesimit</a>

    </div>
</div>
