<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
@using LectureAppLibrary.Models
@model List<Schedule> 

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Fillimi</th>
            <th scope="col">Perfundimi</th>
            <th scope="col">Salla</th>
            <th scope="col">Pedagogu</th>
            <th scope="col">Lenda</th>
            <th scope="col">Veprim</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                 <td>@item.Classroom.SallaNo</td>
                <td>@item.PedagogLenda.Pedagog.FirstName @item.PedagogLenda.Pedagog.LastName</td>
                <td>@item.PedagogLenda.Lenda.EmriLendes</td>
                    <!-- Per tu rregulluar neser -->
                    @{
                        TimeSpan timeDifference = @item.StartTime - DateTime.Now;
                        if (timeDifference.TotalMinutes > 5)
                        {
                        <td>
                            <a asp-action="EditSchedule" asp-route-id="@item.ScheduleID">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>

                        <td>
                            <a asp-action="ScheduleAndGroups" asp-route-id="@item.ScheduleID">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="DeleteSchedule" asp-route-id="@item.ScheduleID" class="text-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                        }
                        }
                
        </tr>
        }
    </tbody>
</table>